/***********************GENERAL************************/

body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Quicksand;
    overflow-x: hidden;
}

:root {
    --primary-color: #198484;
    --color-dark: #2A2A2A;
    --color-dark-ligth: #8E8E8E;
}

.pg {
    width: 100%;
    height: 100vh;
}

.verde {
    color: var(--primary-color);
}

#pagescontainer {
    position: fixed;
    left: 3%;
    top: 40vh;
    z-index: 100;
}

.pages {
    width: 4px;
    height: 30px;
    background-color: var(--color-dark-ligth);
    margin: 5px 0px;
    transition: 1s;
}

.pagesact {
    background-color: var(--primary-color);
}

/**************************PAG1**************************/

#pg1 {
    background-color: var(--color-dark);
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.links {
    color: white;
    font-family: Quicksand;
    font-size: 15px;
    margin: 0px 5px;
}

.linkserv {
    transition: 0.8s;
}

.linkserv:hover {
    color: var(--primary-color);
}

.titulo {
    color: white;
    font-family: Quicksand;
    font-size: 24px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.36);
}

#slogan {
    text-align: center;
    text-shadow: 0px 2px 6px black;
    color: white;
    font-weight: lighter;
    margin: 0px;
    padding: 35vh 30% 0px 30%;
    overflow-y: hidden;
}

#foot1 {
    position: absolute;
    color: white;
    bottom: 5vh;
    text-align: center;
    left: 40%;
    width: 20%;
}

/**************************PAG2**************************/

#titulopg2 {
    height: 15vh;
}

#titulo2 {
    text-align: center;
    font-weight: 400;
    padding-top: 5vh;
    height: auto;
    overflow-y: hidden;
}

#servicios {
    height: 75vh;
    padding: 5vh 10%;
}

.card-img-top {
    height: 30vh;
}

.card {
    padding: 0px
}

.card-text {
    font-size: 14px;
}

#footerpg2 {
    background-color: aqua;
    height: 5vh;
}

/**************************PAG3**************************/

#pg3 {
    background-image: url(../img/nosotros.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.349);
    background-blend-mode: multiply;
}

.textos {
    color: white;
    text-shadow: 0px 0px 10px black;
}

.subverde {
    overflow-y: hidden;
    border-bottom: 3px solid var(--primary-color);
}

#descripcion {
    margin: auto;
    color: white;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    padding: 10vh 5% 0px 30%;
    font-weight: bold;
    font-size: 18px;
}

#mision {
    width: 80%;
    height: 30vh;
    margin: auto;
}

#vision {
    width: 80%;
    height: 30vh;
    margin: auto;
}
#cmisionvision{
    padding: 25vh 10% 0px 3%;
     color: white;
}

/**************************PAG4**************************/

#pg4 {
    background-color: var(--color-dark);
}

#titulo4 {
    color: white;
    padding: 5vh 3%;
    font-weight: 400;
}

#contact {
    padding: 10vh 10%;
}

.inputs {
    background: none;
    border: none;
    border-bottom: 2px solid #198484;
    color: white;
}

.inputs:focus {
    background: none;
    border: none;
    border-bottom: 2px solid #198484;
    color: white;
}

#enviar {
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
    margin: auto;
    display: flex;
}

#submitcont {
    align-items: center;
    margin: auto;
    display: flex;
}

#equipo {
    color: white;
    text-align: center;
    overflow-y: hidden;
}

.integrante {
    border-radius: 10px;
    color: white;
    margin: 30px 2%;
    /*height: 25vh;*/
    text-align: center;
}

.integrante i {
    font-size: 20px;
    color: white;
}

#img {
    margin: 10px;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
}

.integrante img {
    padding-left: 5%;
    height: 100%;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.849);
    margin: auto;
}

.integrante h5 {
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0px;
    padding-top: 10px;
    overflow-y: hidden;
    color: var(--primary-color);
}

.redes {
    margin-top: 5vh;
    border-bottom: 1px solid white;
    border-radius: 8px;
}

#iconenviar{
    font-size: 32px;
}

/***********PARA MOVILES PG1***********/

@media (max-width: 960px) {
    #slogan {
        font-size: 21px;
        padding: 30vh 20% 0px 20%
    }
    .titulo {
        font-size: 18px;
    }
    .linkserv {
        font-size: 12px;
    }
}
@media (max-width: 300px) {
    #slogan{
        font-size: 18px;
    }
    #foot1{
        width: 60%;
        left: 20%;
    }

}

/***********PARA MOVILES PG2***********/

@media (max-width: 960px) {
    #titulopg2 {
        height: auto;
        margin: 0px;
    }
    #titulo2 {
        font-size: 20px;
    }
    .card-img-top {
        height: 20vh;
    }
    #pg2 {
        min-height: 100%;
        height: auto;
    }
    #servicios {
        height: auto;
        margin: 0px 5%;
    }
    .card {
        margin-bottom: 10px;
    }
    #footpg2 {
        font-size: small;
    }
}

/***********PARA MOVILES PG3***********/

@media (max-width: 960px) {
    #descripcion{
        padding:5vh 20% 0px 20%;
    }
    #cmisionvision{
        padding: 5vh 20% 0px 20%;
         color: white;
    }
}
@media (max-width: 600px) {
    
    #descripcion{
        padding:5vh 10% 0px 10%;
        font-size: 12px;
    }
    #cmisionvision{
        padding: 5vh 10% 0px 10%;
        font-size: 12px;
    }
    .subverde{
        font-size: 17px;
    }
}
@media (max-width: 300px) {
    
    #descripcion{
        padding:5vh 5% 0px 5%;
        font-size: 12px;
    }
    #cmisionvision{
        padding: 5vh 5% 0px 5%;
        font-size: 12px;
    }
    .subverde{
        font-size: 17px;
    }
}

/***********PARA MOVILES PG4***********/

@media (max-width: 960px) {
    #pg4{
        height: auto;
        min-height: 100%;
    }
    #contact{
        padding: 0px 10%;
    }
    #integrantes{
        margin: 0px;
        padding:0px;
    }
}
@media (max-width: 600px) {
    #titulo4{
        font-size: 21px;
    }
    #iconenviar{
        font-size: 32px;
    }
}
@media (max-width: 320px) {
    #titulo4{
        font-size: 18px;
    }
    #enviar{
        font-size: 15px;
    }
    #iconenviar{
        font-size: 23px;
    }
}